## DTs and CV Lecture 7 Marisol De La Cruz

In [1]:
import pandas as pd
import numpy as np

## Work Period 5 Questions ##

> 1. If you havenâ€™t already, create a Jupyter notebook with the code from lecture 7.

In [6]:
data = pd.read_csv('student-por.csv',sep=';')
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [7]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [11]:
df_info = data.info()  # Shows data types values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

In [12]:
len(data)

649

>  2.	Using the provided student performance dataset, generate a complete list of all attributes (features) in the dataset. For each attribute, classify it as either a numerical, categorical, or binary variable. Additionally, for categorical attributes, list the unique values they can take. Print this out.

>  4.   For each of the categorical variables print them out as well as the values they can take onaet.

In [34]:
# Identify numerical variables
numeric_columns = data.select_dtypes(include=['int64']).columns.tolist()

# Identify categorical variables
categorical_columns = data.select_dtypes(include=['object']).columns.tolist()

# Binary variables (these are categorical with only two unique values)
binary_columns = [col for col in categorical_columns if data[col].nunique() == 2]

# Print the results
print(f"\033[1mNumerical Variables:\033[0m")  # Bold for "Numerical Variables"
print(numeric_columns)

print(f"\033[1mCategorical Variables:\033[0m")  # Bold for "Categorical Variables"
for col in categorical_columns:
    print(f"{col}: {data[col].unique()}")
print(f"\033[1mBinary Variables:\033[0m")  # Bold for "Binary Variables"
print(binary_columns)

# Calculate the summary

num_numerical = len(numeric_columns)
num_categorical = len(categorical_columns)
num_binary = len(binary_columns)

# Display the summary
print(f"\033[1mSummary of Variables:\033[0m")  # Bold for "Numerical Variables"
# Print the summary with bold formatting for section titles (ANSI escape codes)
print(f"\033[1mNumerical Variables:\033[0m")  # Bold for "Numerical Variables"
print(f"Count: {num_numerical}")

print(f"\033[1mCategorical Variables:\033[0m")  # Bold for "Categorical Variables"
print(f"Count: {num_categorical}\n")

print(f"\033[1mBinary Variables:\033[0m")  # Bold for "Binary Variables"
print(f"Count: {num_binary} (these are also included in categorical, as they have 'yes'/'no' values)\n")

Numerical Variables:
['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'aggregate_score']
Categorical Variables:
school: ['GP' 'MS']
sex: ['F' 'M']
address: ['U' 'R']
famsize: ['GT3' 'LE3']
Pstatus: ['A' 'T']
Mjob: ['at_home' 'health' 'other' 'services' 'teacher']
Fjob: ['teacher' 'other' 'services' 'health' 'at_home']
reason: ['course' 'other' 'home' 'reputation']
guardian: ['mother' 'father' 'other']
schoolsup: ['yes' 'no']
famsup: ['no' 'yes']
paid: ['no' 'yes']
activities: ['no' 'yes']
nursery: ['yes' 'no']
higher: ['yes' 'no']
internet: ['no' 'yes']
romantic: ['no' 'yes']
Binary Variables:
['school', 'sex', 'address', 'famsize', 'Pstatus', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']
Summary of Variables:
Numerical Variables:
Count: 17
Categorical Variables:
Count: 17

Binary Variables:
Count: 13 (these are also included in categorical, as they have 'yes'/'no' values)

>  3.	Calculate the aggregate score for each student across the three tests (G1, G2, G3). Order the dataset by the highest aggregate score. Save this ordered dataset for further inquiry.

In [30]:
# Calculate the aggregate score by summing G1, G2, and G3
data['aggregate_score'] = data['G1'] + data['G2'] + data['G3']

# Order the dataset by the highest aggregate score
data_ordered = data.sort_values(by='aggregate_score', ascending=False)

# Save the ordered dataset to a new CSV file
data_ordered.to_csv('student_ordered_by_aggregate_score.csv', index=False)

# Display the top of the ordered dataset
print(data_ordered.head())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
338     GP   F   17       R     LE3       T     3     1  services     other
617     MS   F   18       U     LE3       T     1     1   at_home  services
349     GP   F   17       U     GT3       T     3     2    health    health
594     MS   F   18       U     GT3       T     4     4   teacher   teacher
636     MS   M   18       U     GT3       T     4     4   teacher   teacher

     ... freetime goout  Dalc  Walc  health absences  G1  G2  G3  \
338  ...        1     2     1     1       3        0  18  19  19
617  ...        3     2     1     1       4        0  19  17  18
349  ...        2     2     1     2       5        0  18  18  18
594  ...        3     5     1     2       1        0  18  18  18
636  ...        2     4     1     4       2        4  17  18  19

    aggregate_score
338              56
617              54
349              54
594              54
636              54

[5 rows x 34 columns]

>  5.	Explain with your work in three the column expansion after on-hot encoding. That is to say, justify exactly the increase in the number of columns

>  6.	Check the dataset for missing values.

In [35]:
# Check for missing values in the dataset
missing_values = data.isnull().sum()

# Display the count of missing values for each column
print("Missing Values in Each Column:")
print(missing_values[missing_values > 0])  # Only display columns with missing values

# Display total missing values in the dataset
total_missing = missing_values.sum()
print(f"\nTotal missing values in the dataset: {total_missing}")

Missing Values in Each Column:
Series([], dtype: int64)

Total missing values in the dataset: 0

>  7.	Determine which attributes are numerical, then create a print out the correlation coefficient ,r, for each pair. You can loop or create a correlation matrix. (A correlation matrix is a table that displays the correlation coefficients between multiple variables. Each cell in the matrix represents the correlation between two variables.) Identify pairs with highest positive and negative correlation.

In [37]:
# Identify numerical attributes
numeric_columns = data.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Create a correlation matrix
correlation_matrix = data[numeric_columns].corr()

# Print the correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

# Find the pairs with the highest positive and negative correlation
highest_positive_corr = correlation_matrix.unstack().sort_values(ascending=False)
# Filter out self-correlations (correlation of a variable with itself)
highest_positive_corr = highest_positive_corr[highest_positive_corr < 1]

# Get the highest positive correlation
highest_positive_pair = highest_positive_corr.idxmax()
highest_positive_value = highest_positive_corr.max()

# Get the highest negative correlation
highest_negative_pair = highest_positive_corr.idxmin()
highest_negative_value = highest_positive_corr.min()

# Print results
print(f"\nHighest Positive Correlation: {highest_positive_pair} with r = {highest_positive_value:.2f}")
print(f"Highest Negative Correlation: {highest_negative_pair} with r = {highest_negative_value:.2f}")

Correlation Matrix:
                      age      Medu      Fedu  traveltime  studytime  \
age              1.000000 -0.107832 -0.121050    0.034490  -0.008415
Medu            -0.107832  1.000000  0.647477   -0.265079   0.097006
Fedu            -0.121050  0.647477  1.000000   -0.208288   0.050400
traveltime       0.034490 -0.265079 -0.208288    1.000000  -0.063154
studytime       -0.008415  0.097006  0.050400   -0.063154   1.000000
failures         0.319968 -0.172210 -0.165915    0.097730  -0.147441
famrel          -0.020559  0.024421  0.020256   -0.009521  -0.004127
freetime        -0.004910 -0.019686  0.006841    0.000937  -0.068829
goout            0.112805  0.009536  0.027690    0.057454  -0.075442
Dalc             0.134768 -0.007018  0.000061    0.092824  -0.137585
Walc             0.086357 -0.019766  0.038445    0.057007  -0.214925
health          -0.008750  0.004614  0.044910   -0.048261  -0.056433
absences         0.149998 -0.008577  0.029859   -0.008149  -0.118389
G1              -0.174322  0.260472  0.217501   -0.154120   0.260875
G2              -0.107119  0.264035  0.225139   -0.154489   0.240498
G3              -0.106505  0.240151  0.211800   -0.127173   0.249789
aggregate_score -0.133499  0.265905  0.227918   -0.151066   0.261630

                 failures    famrel  freetime     goout      Dalc      Walc  \
age              0.319968 -0.020559 -0.004910  0.112805  0.134768  0.086357
Medu            -0.172210  0.024421 -0.019686  0.009536 -0.007018 -0.019766
Fedu            -0.165915  0.020256  0.006841  0.027690  0.000061  0.038445
traveltime       0.097730 -0.009521  0.000937  0.057454  0.092824  0.057007
studytime       -0.147441 -0.004127 -0.068829 -0.075442 -0.137585 -0.214925
failures         1.000000 -0.062645  0.108995  0.045078  0.105949  0.082266
famrel          -0.062645  1.000000  0.129216  0.089707 -0.075767 -0.093511
freetime         0.108995  0.129216  1.000000  0.346352  0.109904  0.120244
goout            0.045078  0.089707  0.346352  1.000000  0.245126  0.388680
Dalc             0.105949 -0.075767  0.109904  0.245126  1.000000  0.616561
Walc             0.082266 -0.093511  0.120244  0.388680  0.616561  1.000000
health           0.035588  0.109559  0.084526 -0.015741  0.059067  0.114988
absences         0.122779 -0.089534 -0.018716  0.085374  0.172952  0.156373
G1              -0.384210  0.048795 -0.094497 -0.074053 -0.195171 -0.155649
G2              -0.385782  0.089588 -0.106678 -0.079469 -0.189480 -0.164852
G3              -0.393316  0.063361 -0.122705 -0.087641 -0.204719 -0.176619
aggregate_score -0.405815  0.070550 -0.113723 -0.084467 -0.205792 -0.173906

                   health  absences        G1        G2        G3  \
age             -0.008750  0.149998 -0.174322 -0.107119 -0.106505
Medu             0.004614 -0.008577  0.260472  0.264035  0.240151
Fedu             0.044910  0.029859  0.217501  0.225139  0.211800
traveltime      -0.048261 -0.008149 -0.154120 -0.154489 -0.127173
studytime       -0.056433 -0.118389  0.260875  0.240498  0.249789
failures         0.035588  0.122779 -0.384210 -0.385782 -0.393316
famrel           0.109559 -0.089534  0.048795  0.089588  0.063361
freetime         0.084526 -0.018716 -0.094497 -0.106678 -0.122705
goout           -0.015741  0.085374 -0.074053 -0.079469 -0.087641
Dalc             0.059067  0.172952 -0.195171 -0.189480 -0.204719
Walc             0.114988  0.156373 -0.155649 -0.164852 -0.176619
health           1.000000 -0.030235 -0.051647 -0.082179 -0.098851
absences        -0.030235  1.000000 -0.147149 -0.124745 -0.091379
G1              -0.051647 -0.147149  1.000000  0.864982  0.826387
G2              -0.082179 -0.124745  0.864982  1.000000  0.918548
G3              -0.098851 -0.091379  0.826387  0.918548  1.000000
aggregate_score -0.082420 -0.125015  0.933554  0.971256  0.961829

                 aggregate_score
age                    -0.133499
Medu                    0.265905
Fedu                    0.227918
traveltime             -0.151066
studytime               0.261630
failures               -0.405815
famrel                  0.070550
freetime               -0.113723
goout                  -0.084467
Dalc                   -0.205792
Walc                   -0.173906
health                 -0.082420
absences               -0.125015
G1                      0.933554
G2                      0.971256
G3                      0.961829
aggregate_score         1.000000

Highest Positive Correlation: ('aggregate_score', 'G2') with r = 0.97
Highest Negative Correlation: ('aggregate_score', 'failures') with r = -0.41